@model VideoGenreViewModel
<h1>    Registered user</h1>

<div>
    <h1>Videos</h1>
    <div class="container">

        <p><a asp-area="RegisteredUser" asp-action="Edit">Create new</a></p>
        <form asp-controller="Home" asp-action="Index">

            <p>
                <select asp-for="VideoGenre" asp-items="Model.Genres">
                    <option value="">Всі жанри</option>
                </select>

                Title: <input type="text" name="SearchString" value="" />
                Автор: <input type="text" name="Author" value="" />
                Початкова дата: <input type="date" name="DateStart" value="" />
                Кінцева дата:<input type="date" name="DateEnd" value="" />
                Показати остані 100:<input type="checkbox" name="Take100" value="checked" />
                <input type="submit" value="Filter" />
            </p>
        </form>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Videos[0].Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Videos[0].DateAdded)</th>
                        <th>@Html.DisplayNameFor(model => model.Videos[0].Genre)</th>
                        <th>@Html.DisplayNameFor(model => model.Videos[0].UserName)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Videos)
                    {
                        <tr>
                            <td> @Html.DisplayFor(model => item.Title)</td>
                            <td> @Html.DisplayFor(model => item.DateAdded)</td>
                            <td> @Html.DisplayFor(model => item.Genre)</td>
                            <td> @Html.DisplayFor(model => item.UserName)</td>
                            
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                                <a href="@item.VideoLink">Переглянути</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>